<app-table-wrapper
  [headerTitle]="indexMeta.indexTitle"
  [titleIcon]="indexMeta.indexIcon"
  [headerBtnLabel]="indexMeta.createBtnLabel"
  [columns]="indexMeta.columns"
  [dataSource]="records()"
  [loading]="isLoading()"
  [indexPermissions]="permissions().index"
  [updateBtnPermissions]="permissions().update"
  [createBtnPermissions]="permissions().create"
  [deleteBtnPermissions]="permissions().delete"
  [totalRecords]="totalRecords()"
  [recordsFiltered]="recordsFiltered()"
  paginatorPosition="both"
  [stateKey]="indexMeta.indexTableKey"
  [globalFilterValue]="globalFilterValue"
  (createBtnClicked)="openCreateRecordDialog()"
  (updateBtnClicked)="openUpdateRecordDialog($event)"
  (deleteBtnClicked)="deleteRecord($event)"
  (onLoadData)="loadRecords($event)"
>
  <ng-template #extendDefaultActionsTemplate let-rowData>
    <button
      pButton
      *appHasPermission="permissions().update_permissions"
      icon="fas fa-user-shield text-sm"
      class="p-button-rounded p-button-text p-button-sm"
      [disabled]="rowData.id === 1 || rowData.id === 2"
      [pTooltip]="'update_group_permissions' | translate"
      tooltipPosition="top"
      (click)="openUpdateGroupPermissionsDialog(rowData)"
    ></button>

    <button
      pButton
      *appHasPermission="permissions().update_access_scopes"
      class="p-button-rounded p-button-text p-button-icon-only"
      [pTooltip]="'update_group_access_scopes' | translate"
      tooltipPosition="top"
      (click)="openUpdateGroupScopesDialog(rowData)"
      icon="fas fa-eye-low-vision"
    ></button>
  </ng-template>
</app-table-wrapper>
