@use "src/assets/styles/_utilities.scss";

:host ::ng-deep {
  .p-timeline-event-separator {
    padding-inline-end: 1.5rem;
  }
  .p-timeline-event-connector {
    display: none;
  }
}

.custom-timline-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(10px);
  width: 55px !important;
  height: 55px;
  color: #fff;
}

.infinite-scroll-container {
  max-height: 100vh;
  overflow-y: auto;
  @extend %scrollable-content;
}
