<p-card styleClass="border-bottom-3 border-primary">
  @if (!loadingScreen()) {
    <h2 class="font-semibold capitalize text-lg line-height-2 my-3">
      <i class="fas fa-edit text-base"></i>
      {{ "manage_global_settings" | translate }}
    </h2>
    <p-divider></p-divider>

    <app-form
      [form]="manageGlobalSettingsForm"
      [model]="model"
      [fields]="fields"
      [submitBtnLoading]="submitBtnLoading()"
      [showResetButton]="false"
      footerFormClass="my-3"
      [buttonLabel]="'update' | translate"
      submitButtonClass="uppercase text-base"
      (onSubmit)="update($event)"
    >
    </app-form>
  } @else {
    <app-spinner></app-spinner>
  }
</p-card>
