<app-filters-panel
  [filters]="referralsFilters()"
  [(showFilterSidebar)]="showBasicFilters"
  [(isAdvancedFilter)]="showAdvancedFilters"
  [displaySettings]="false"
  (onRemoveChip)="refreshReferrals($event)"
  (onClearAllChips)="refreshReferrals($event)"
  (onSubmitFilters)="refreshReferrals($event)"
>
  <ng-container ngProjectAs="[filtered-data]">
    <!--
        ngProjectAs is useful if we want to project an ng-container with a certain selector.
       -->
    <div #targetElement>
      <app-table-wrapper
        [moduleName]="moduleName"
        [headerTitle]="indexMeta.indexTitle"
        [titleIcon]="indexMeta.indexIcon"
        [headerBtnLabel]="indexMeta.createBtnLabel"
        [columns]="indexMeta.columns"
        [dataSource]="records()"
        [loading]="isLoading()"
        [totalRecords]="totalRecords()"
        [recordsFiltered]="recordsFiltered()"
        paginatorPosition="both"
        [indexPermissions]="permissions().index"
        [updateBtnPermissions]="permissions().update"
        [createBtnPermissions]="permissions().create"
        [deleteBtnPermissions]="permissions().delete"
        [stateKey]="indexMeta.indexTableKey"
        [globalFilterValue]="globalFilterValue"
        (createBtnClicked)="openCreateRecordDialog()"
        (updateBtnClicked)="openUpdateRecordDialog($event)"
        (deleteBtnClicked)="deleteRecord($event)"
        (onLoadData)="loadRecords($event)"
      >
        <ng-template #creator let-rowData>
          {{ getLabelById("assignments:all_users_info", rowData.created_by) }}
        </ng-template>

        <ng-template #createdAt let-rowData>
          {{ rowData.created_at | dateFormatter: "absolute" }}
        </ng-template>

        <ng-template #extendDefaultActionsTemplate let-rowData>
          <button
            pButton
            type="button"
            *appHasPermission="permissions().view"
            icon="fas fa-eye text-xs"
            class="p-button-sm p-button-rounded p-button-text p-button-success"
            [pTooltip]="'view' | translate"
            tooltipPosition="top"
            (click)="openReferral(rowData)"
          ></button>
        </ng-template>
      </app-table-wrapper>
    </div>
  </ng-container>
</app-filters-panel>
