<ng-container *ngxPermissionsOnly="permissions().index">
  <p-card styleClass="border-bottom-3 border-primary">
    @if (!loadingScreen()) {
      <h2 class="font-semibold capitalize text-lg line-height-2 my-3">
        <i class="fas fa-edit text-base"></i> {{ "unit_matching_request_config" | translate }}
      </h2>
      <p-divider></p-divider>

      <app-form
        [form]="unitMatchingRequestConfigForm"
        [model]="model"
        [fields]="fields"
        [submitBtnLoading]="submitBtnLoading()"
        footerFormClass="my-3"
        [buttonLabel]="'save' | translate"
        submitButtonClass="uppercase text-base"
        (onSubmit)="save($event)"
      >
      </app-form>
    } @else {
      <app-spinner></app-spinner>
    }
  </p-card>
</ng-container>
