@if (type() === "meterGroup") {
  <div class="flex justify-content-between">
    <h4 class="flex gap-1 align-items-center mt-0 font-semibold text-sm mb-1 text-900 capitalize">
      {{ title() }}
    </h4>
    <span class="text-sm font-semibold"> {{ actualPercentage()?.toFixed(2) }} % </span>
  </div>
  <p-meterGroup [value]="meterGroup()">
    <ng-template pTemplate="label">
      <div class="flex flex-wrap gap-3">
        <ul class="p-metergroup-labels p-metergroup-labels-horizontal w-full flex-nowrap">
          @for (item of meterGroup(); track $index) {
            <li class="p-metergroup-label">
              <span
                class="p-metergroup-label-marker"
                [ngStyle]="{ 'background-color': item.color }"
              ></span>
              <div class="p-metergroup-label-text flex gap-2 align-items-center">
                <span>{{ item.value }}</span>
                <span>{{ item.label }}</span>
              </div>
            </li>
          }
          <li class="flex-auto flex justify-content-end">
            <span class="text-gray-400 text-sm">
              @if (expectedTotal()) {
                {{ expected() }} : {{ expectedTotal() | currency: campaignCurrency() + " " }}
              } @else {
                {{ expected() }}
              }
            </span>
          </li>
        </ul>
      </div>
    </ng-template>
  </p-meterGroup>
} @else {
  <div class="flex justify-content-between">
    <h4
      class="flex gap-1 align-items-center mt-0 font-semibold text-sm mb-1 text-900 mb-3 capitalize"
    >
      {{ title() }}
    </h4>
    <span class="text-lg font-bold" [ngStyle]="{ color: colorProgress() }">
      @if (title() !== "leads") {
        {{ actual() | currency: campaignCurrency() + " " }}
      } @else {
        {{ actual() }}
      }
    </span>
  </div>
  <p-progressBar [showValue]="false" [color]="colorProgress()" [value]="actualPercentage()">
  </p-progressBar>
  <div class="flex mt-2 justify-content-between align-items-center">
    <span class="text-gray-400 text-sm">
      @if (title() !== "leads") {
        {{ expected() }}: {{ expectedTotal() | currency: campaignCurrency() + " " }}
      } @else {
        {{ expected() }}: {{ expectedTotal() }}
      }
    </span>
    <span class="text-gray-400"> {{ actualPercentage()?.toFixed(2) }} % </span>
  </div>
}
